{% extends 'base.html.twig' %}

{% block body %}

    <h1> Students List Show page</h1>

    {% for student in students %}
    <li>
        id={{ student.id }}
        <br>
        name= {{ student.firstName }} {{ student.surName }}
    <br>
        <a href="{{ url('student_show', {id:student.id}) }}">(details)</a>
    </li>
        {% endfor %}
{% endblock %}