{% extends 'base.html.twig' %}

{% block body %}

    <h1> Student Show page</h1>

    <p>
        id={{ student.id }}
        <br>
        name= {{ student.firstName }} {{ student.surName }}

    </p>
{% endblock %}