{% extends 'base.html.twig' %}
{% block body %}
    <style>
        H1{
            font-family: Bahnschrift;
            font-size: 30px;
            color: #761c19;

        }
    </style>

    <h1>Admin home</h1>
    This part of website will only be visible to the logged in users
{% endblock %}
