{% extends 'base.html.twig' %}
{% block pageTitle %}new product form{% endblock %}
{% block body %} <h1>Create new student</h1>
    <form action="/product/processNewForm" method="POST">
            Title: <input type="text" name="title">
        <p>
            Summary: <input type="text" name="summary">
        <p>
            Photo: <input type="text" name="photo">
        <p>
            Description: <input type="text" name="description">
        <p>
            Price: <input type="number" name="price">
        <p>
            Ingredients: <input type="text" name="ingredients">
        <p>
            Category: <input type="text" name="cat">
        <input type="submit" value="Create new product">
    </form> {% endblock %}